<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Profile</key>
		<dict>
			<key>ID</key>
			<string></string>
			<key>PW</key>
			<string></string>
		</dict>
		<key>Feeds</key>
		<array>
			<dict>
				<key>Contents</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Profile</key>
		<dict>
			<key>ID</key>
			<string></string>
			<key>PW</key>
			<string></string>
		</dict>
		<key>Feeds</key>
		<array>
			<dict>
				<key>Contents</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Profile</key>
		<dict>
			<key>ID</key>
			<string></string>
			<key>PW</key>
			<string></string>
		</dict>
		<key>Feeds</key>
		<array>
			<dict>
				<key>Contents</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Profile</key>
		<dict>
			<key>ID</key>
			<string></string>
			<key>PW</key>
			<string></string>
		</dict>
		<key>Feeds</key>
		<array>
			<dict>
				<key>Contents</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
